In [ ]:
# Write a Python program to find sum of elements in list?
l = [1,2,3,4,5,6,7,8,9,10]
s = 0
for i in l:
  s += i

print("Sum of the list is", s)

Sum of the list is 55

In [ ]:
# Write a Python program to Multiply all numbers in the list?

l = [2,4,5,6,8]
m = 1
for i in l:
  m *= i

print("The product of the list is",m)

The product of the list is 1920

In [ ]:
# Write a Python program to find smallest number in a list?

l = [21,23,43,12]
min(l)

12

In [ ]:
# Write a Python program to find largest number in a list?

l = [23,45,67,99,43]
max(l)

99

In [ ]:
# Write a Python program to find second largest number in a list?

l = [23,43,12,34,76,98]
l.sort
print(l[-2])

76

In [62]:
# Write a Python program to find N largest elements from a list?

def Nmaxele(l1, N):
	fl = []

	for i in range(0, N):
		max1 = 0
		
		for j in range(len(l1)):	
			if l1[j] > max1:
				max1 = l1[j];
				
		l1.remove(max1);
		fl.append(max1)
		
	print(fl)

# Driver code
l1 = [12, 6, 41, 85, 56, 33, 17, 26, 10]
N = 2

Nmaxele(l1, N)

[85, 56]

In [ ]:
# Write a Python program to print even numbers in a list?

def noeven(n):

  if n%2 == 0:
    return n

l = [13,14,1,6,18,15]
for i in l:
  if noeven(i):
    print(i)

14
6
18

In [20]:
# Write a Python program to print odd numbers in a List?

def noodd(n):
  if n%3 == 0:
    return n

l = [2,3,18,16,15,12]
for i in l:
  if noodd(i):
    print(i)

3
18
15
12

In [43]:
# Write a Python program to Remove empty List from List?

l = [2,3,4,5,[],3,5,[], 6, [], 98,65]
l1 = []
for i in l:
    if i != []:
      l1.append(i)
print(l1)

[2, 3, 4, 5, 3, 5, 6, 98, 65]

In [45]:
# Write a Python program to Cloning or Copying a list?

def copylist(n):
  newlist = n
  return newlist

l = [2,4,6,8,10]
print("Original list :" ,l)
print("Copy list " ,copylist(l))

Original list : [2, 4, 6, 8, 10]
Copy list  [2, 4, 6, 8, 10]

In [60]:
# Write a Python program to Count occurrences of an element in a list?
def countX(lst, x):
	count = 0
	for ele in lst:
		if (ele == x):
			count = count + 1
	return count


# Driver Code
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,countX(lst, x)))

8 has occurred 5 times