In [29]:
# Write a Python program to Extract Unique values dictionary values?
n = {"a" : [12, 13, 14],"b" : [14, 34, 21],"c" : [43, 21, 12, 15],"d":[23, 54, 21,32]}
n1 = []
for i in n.values():
  for j in i:
    n1.append(j)
print("Unique values are ", n1)

Unique values are  [12, 13, 14, 14, 34, 21, 43, 21, 12, 15, 23, 54, 21, 32]

In [31]:
# Write a Python program to find the sum of all items in a dictionary?
p = {"a": 12, "b": 10, "c": 14, "d":20}
sum = 0
for i in p.values():
  sum +=i
print("Sum is ", sum)

Sum is  56

In [4]:
# Write a Python program to Merging two Dictionaries?

a = {"a" : 10, "b" : 20, "c" : 30, "d" : 40}
b = {"e" : 45, "f" : 50, "g" : 55}

print({**a, **b})

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 45, 'f': 50, 'g': 55}

In [6]:
# Write a Python program to convert key-values list to flat dictionary?

a = {"day of week" : [1,2,3,4,5,6,7], "names" : ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]}
from itertools import product
b = dict(zip(a["day of week"], a["names"]))
print(b)

{1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday', 5: 'friday', 6: 'saturday', 7: 'sunday'}

In [9]:
# Write a Python program to insertion at the beginning in OrderedDict?

from collections import OrderedDict

x = OrderedDict([("January" , "1"), ("Feburary" , "2"), ("March" , "3")])
x.update({"December" : "12"})
x.move_to_end("December" , last = False)

print("Update Dictionary : ", x)

Update Dictionary :  OrderedDict([('December', '12'), ('January', '1'), ('Feburary', '2'), ('March', '3')])

In [6]:
# Write a Python program to check order of character in string using OrderedDict()?

from collections import OrderedDict
def checkorder(input, pattern):
  dict = OrderedDict.fromkeys(input)
  p_l = 0
  for key,value in dict.items():
    if key == pattern[p_l]:
      p_l += 1
    
    if p_l == len(pattern):
      return "The order is correct"
  
  return "The order is incorrect"

input = "This is a book"
pattern = "is"
print(input)
print(pattern)
print(checkorder(input, pattern))

This is a book
is
The order is correct

In [10]:
# Write a Python program to sort Python Dictionaries by Key or Value?

def dict():

	k_v = {}

	k_v[5] = 78
	k_v[3] = 23
	k_v[1] = 34
	k_v[4] = 98
	k_v[6] = 20
	k_v[2] = 12
	
	print("key_value",k_v)

	for i in sorted(k_v):
		print((i, k_v[i]), end=" ")

dict()

key_value {5: 78, 3: 23, 1: 34, 4: 98, 6: 20, 2: 12}
(1, 34) (2, 12) (3, 23) (4, 98) (5, 78) (6, 20)